/* PopUp.css */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  overflow-y: scroll;
  height: 70vh;
}

.popup.open {
  display: block;
}

.popup-content {
	display: block;
	justify-content: left;
  color: black;
}

.popup label {
  display: block;
  margin-bottom: 10px;
}

.popup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.popup button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


